<div id="container-inspect">
  <h2>Inspect Container</h2>

  <div>
    <h3>General</h3>
    <dl>
      <dt>Name</dt><dd>{{container.Name}}</dd>
      <dt>ID</dt><dd>{{container.Id}}</dd>
      <dt>Created</dt><dd>{{container.Created}}</dd>
      <dt>Path</dt><dd>{{container.Path}}</dd>
      <dt>Image</dt><dd>{{container.Image}}</dd>
    </dl>

    <h3>State</h3>
    <dl>
      <dt>PID</dt><dd>{{container.State.PID}}</dd>
      <dt>Exit Code</dt><dd>{{container.State.ExitCode}}</dd>
      <dt>Error</dt><dd>{{container.State.Error}}</dd>
      <dt>Started At</dt><dd>{{container.State.StartedAt}}</dd>
      <dt>Finished At</dt><dd>{{container.State.FinishedAt}}</dd>
    </dl>

    <table>
      <tr><th>Running</th><td>{{container.State.Running | bool }}</td></tr>
      <tr><th>Paused</th><td>{{container.State.Paused | bool }}</td></tr>
      <tr><th>Restarting</th><td>{{container.State.Restarting | bool }}</td></tr>
      <tr><th>OOMKilled</th><td>{{container.State.OOMKilled | bool }}</td></tr>
      <tr><th>Dead</th><td>{{container.State.Dead | bool }}</td></tr>
    </table>
    
    <h3>Host Config</h3>
    <dl>
      <dt>Binds</dt><dd>{{container.HostConfig.Binds}}</dd>
      <dt>ContainerIDFile</dt><dd>{{container.HostConfig.ContainerIDFile}}</dd>
      <dt>Memory</dt><dd>{{container.HostConfig.Memory}}</dd>
      <dt>MemorySwap</dt><dd>{{container.HostConfig.MemorySwap}}</dd>
      <dt>CpuShares</dt><dd>{{container.HostConfig.CpuShares}}</dd>
      <dt>CpuPeriod</dt><dd>{{container.HostConfig.CpuPeriod}}</dd>
      <dt>CpusetCpus</dt><dd>{{container.HostConfig.CpusetCpus}}</dd>
      <dt>CpusetMems</dt><dd>{{container.HostConfig.CpusetMems}}</dd>
      <dt>CpuQuota</dt><dd>{{container.HostConfig.CpuQuota}}</dd>
      <dt>BlkioWeight</dt><dd>{{container.HostConfig.BlkioWeight}}</dd>
      <dt>OomKillDisable</dt><dd>{{container.HostConfig.OomKillDisable}}</dd>
      <dt>MemorySwappiness</dt><dd>{{container.HostConfig.MemorySwappiness}}</dd>
      <dt>Privileged</dt><dd>{{container.HostConfig.Privileged}}</dd>
      <dt>PortBindings</dt><dd>{{container.HostConfig.PortBindings}}</dd>
      <dt>Links</dt><dd>{{container.HostConfig.Links}}</dd>
      <dt>PublishAllPorts</dt><dd>{{container.HostConfig.PublishAllPorts}}</dd>
      <dt>Dns</dt><dd>{{container.HostConfig.Dns}}</dd>
      <dt>PublishAllPorts</dt><dd>{{container.HostConfig.PublishAllPorts}}</dd>
      <dt>ExtraHosts</dt><dd>{{container.HostConfig.ExtraHosts}}</dd>
      <dt>VolumesFrom</dt><dd>{{container.HostConfig.VolumesFrom}}</dd>
      <dt>Devices</dt><dd>{{container.HostConfig.Devices}}</dd>
      <dt>NetworkMode</dt><dd>{{container.HostConfig.NetworkMode}}</dd>
      <dt>IpcMode</dt><dd>{{container.HostConfig.IpcMode}}</dd>
      <dt>PidMode</dt><dd>{{container.HostConfig.PidMode}}</dd>
      <dt>UTSMode</dt><dd>{{container.HostConfig.UTSMode}}</dd>
      <dt>CapAdd</dt><dd>{{container.HostConfig.CapAdd}}</dd>
      <dt>CapDrop</dt><dd>{{container.HostConfig.CapDrop}}</dd>
      <dt>GroupAdd</dt><dd>{{container.HostConfig.GroupAdd}}</dd>
      <dt>RestartPolicy</dt>
      <dd>
        Name: "{{container.HostConfig.RestartPolicy.Name}}",
        Restry: {{container.HostConfig.RestartPolicy.MaximumRetryCount}}
      </dd>
      <dt>SecurityOpt</dt><dd>{{container.HostConfig.SecurityOpt}}</dd>
      <dt>ReadonlyRootfs</dt><dd>{{container.HostConfig.ReadonlyRootfs}}</dd>
      <dt>Ulimits</dt><dd>{{container.HostConfig.Ulimits}}</dd>
      <dt>LogConfig</dt>
      <dd>
        Type: {{container.HostConfig.LogConfig.Type}},
        Conf: {{container.HostConfig.LogConfig.Config}}
      </dd>
      <dt>CgroupParent</dt><dd>{{container.HostConfig.CgroupParent}}</dd>
      <dt>ConsoleSize</dt><dd>
        {{container.HostConfig.ConsoleSize[0]}}x
        {{container.HostConfig.ConsoleSize[1]}}
      </dd>
    </dl>
    
    <h3>Network</h3>

    <h3>Paths</h3>
    <dl>
      <dt>resolv.conf</dt><dd>{{container.ResolvConfPath}}</dd>
      <dt>hostname</dt><dd>{{container.HostnamePath}}</dd>
      <dt>hosts</dt><dd>{{container.HostsPath}}</dd>
      <dt>logs</dt><dd>{{container.LogPath}}</dd>
    </dl>

    <h3>Misc Stuff</h3>
    <dl>
      <dt>Restart Count</dt><dd>{{container.RestartCount}}</dd>
      <dt>Driver</dt><dd>{{container.Driver}}</dd>
      <dt>Exec Driver</dt><dd>{{container.ExecDriver}}</dd>
      <dt>Mount Label</dt><dd>{{container.MountLabel}}</dd>
      <dt>Process Label</dt><dd>{{container.ProcessLabel}}</dd>
      <dt>App Armor Profile</dt><dd>{{container.AppArmorProfile}}</dd>
      <dt>Exec IDS</dt><dd>{{container.ExecIDS}}</dd>
    </dl>


  </div>

</div>
